In [2]:
import logging
import pandas as pd

logging.basicConfig(filename="23FebInfo.log", level=logging.INFO, format="%(asctime)s %(name)s %(message)s")

In [5]:
#1
list1 = [4,8,15,16,23,42]
series1 = pd.Series(list1)
series1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
#2

list2 = [1,2,3,4,5,6,7,8,9,10]
series2  = pd.Series(list2)
series2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
#3

data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
    
}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [9]:
#4
"""
A DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns). 
It can be thought of as a spreadsheet or a SQL table. Each column of a DataFrame is a Pandas Series object.

A  Series is a one-dimensional labeled array that can hold data of any type.
 It can be thought of as a single column of a DataFrame.
"""

# create a Pandas Series
ages = pd.Series([25, 30, 27], name="Age")

# create a Pandas DataFrame
data = {
    "Name": ["Samaira", "asad", "shivam"],
    "Gender": ["Female", "Male", "Male"]
}
df = pd.DataFrame(data)

logging.info("add the Age column to the DataFrame")
df["Age"] = ages

logging.info("print the Series and the DataFrame")
print(ages)
print(df)

0    25
1    30
2    27
Name: Age, dtype: int64
      Name  Gender  Age
0  Samaira  Female   25
1     asad    Male   30
2   shivam    Male   27

In [10]:
#5
"""
Pandas provides many functions to manipulate data in a DataFrame like:

head() and tail(): Used to display the first or last n rows of a DataFrame, respectively.

info(): Used to display a summary of the DataFrame, including the number of rows and columns, 
the data types of each column, and whether there are any missing values.

describe(): Used to generate descriptive statistics of the DataFrame, such as the count, mean, standard 
deviation, minimum, and maximum values of each numeric column.

sort_values(): Used to sort the DataFrame by one or more columns. Example, df.sort_values(by="Name")

groupby(): Used to group rows of the DataFrame by one or more columns and apply a function to each group.
 Example, df.groupby("Gender").mean() will group the rows of the DataFrame df by the "Gender" column 
 and calculate the mean of each numeric column for each group.

drop(): Used to remove one or more columns or rows from the DataFrame. Example, df.drop("Age", axis=1)
 will remove the "Age" column from the DataFrame df.

fillna(): Used to fill missing values in the DataFrame with a specified value or method. Example, df.fillna(0)
 will replace all missing values in the DataFrame df with 0.

We can use the head() function to display the first few rows of the DataFrame and check if the data is loaded correctly.
We can use the info() function to check the data types and missing values in the DataFrame.
We can use the describe() function to get a sense of the distribution of the numeric variables in the DataFrame.
We can use the sort_values() and groupby() functions, to sort or group the data.
"""

'\nPandas provides many functions to manipulate data in a DataFrame like:\n\nhead() and tail(): Used to display the first or last n rows of a DataFrame, respectively.\n\ninfo(): Used to display a summary of the DataFrame, including the number of rows and columns, \nthe data types of each column, and whether there are any missing values.\n\ndescribe(): Used to generate descriptive statistics of the DataFrame, such as the count, mean, standard \ndeviation, minimum, and maximum values of each numeric column.\n\nsort_values(): Used to sort the DataFrame by one or more columns. Example, df.sort_values(by="Name")\n\ngroupby(): Used to group rows of the DataFrame by one or more columns and apply a function to each group.\n Example, df.groupby("Gender").mean() will group the rows of the DataFrame df by the "Gender" column \n and calculate the mean of each numeric column for each group.\n\ndrop(): Used to remove one or more columns or rows from the DataFrame. Example, df.drop("Age", axis=1)\n will remove the "Age" column from the DataFrame df.\n\nfillna(): Used to fill missing values in the DataFrame with a specified value or method. Example, df.fillna(0)\n will replace all missing values in the DataFrame df with 0.\n\nWe can use the head() function to display the first few rows of the DataFrame and check if the data is loaded correctly.\nWe can use the info() function to check the data types and missing values in the DataFrame.\nWe can use the describe() function to get a sense of the distribution of the numeric variables in the DataFrame.\nWe can use the sort_values() and groupby() functions, to sort or group the data.\n'

In [ ]:
# answer 7
"""
To create a DataFrame using multiple Series, we can pass a dictionary of Series to the pd.DataFrame() function.
The keys of the dictionary will be used as column names, and the values will be used as the data in each column.
"""

# create a Series for each column
names = pd.Series(["Adarsh", "Asad", "Sarika"])
ages = pd.Series([25, 30, 27])
genders = pd.Series(["Male", "Male", "Female"])

logging.info("create a dictionary of Series")
data = {"Name": names, "Age": ages, "Gender": genders}

logging.info("create a DataFrame from the dictionary")
df = pd.DataFrame(data)

# print the DataFrame
print(df)